.A4-size {
    width: 21cm;
    height: 29.7cm;
    max-width: 21cm;
    max-height: 29.7cm;
    min-width:700px;
}

.label-paper-3x9 {
    margin: 0px 0px 0px 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #cccccc;
}

.label-paper-4x10 {
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #cccccc;
}

.label-paper-5x12 {
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #cccccc;
}

.box-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
}

.label-item-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items:flex-start !important;
    width: 100%;
    height: 100%;
}

.label-item {
    border: 1px solid gray;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
    border: 1px solid #aaaaaa;
}

.label-item-3x9 {
    width: calc(100%/3);
    height: calc(100%/9);
    padding: 2mm 2mm 2mm 2mm;
    font-size: 1rem;
}

.label-item-4x10 {
    width: calc(100%/4);
    height: calc(100%/10);
    padding: 2mm 2mm 2mm 2mm;
    font-size: 1rem;
}

.label-item-5x12 {
    width: calc(100%/5);
    height: calc(100%/12);
    padding: 1mm 1mm 1mm 1mm;
    font-size: 0.8rem;
}

.label-item img {
    height: 90%;
    max-width: 100%;
}

@page {
    size: A4 portrait;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

@media print {

    body {
        border:0px !important;
    }

    body * {
        visibility: hidden;
    }

    #label-paper-container, #label-paper-container * {
        visibility: visible;
    }

    #label-paper-container {
        position: absolute;
        left: 0;
        top: 0;
    }

    .label-paper-3x9 .label-item {
        border: 1px solid #dddddd !important;
    }

    .label-paper-4x10 .label-item {
        border: 1px solid #dddddd !important;
    }

    .label-paper-5x12 .label-item {
        border: 1px solid #dddddd !important;
    }
}